@{
    ViewData["Title"] = "Home Page";
}

@model PokemonInfo


@using (Html.BeginForm("Search", "Home", "Get"))
{
    <label asp-for="PokemonName" class="control-label" style="color:white"></label>
    <input type="text" name="PokemonName" placeholder="Search for Pokemon name..." class="form-control" value="" />
    <input type="submit" value="Search" class="btn btn-primary" />
    
    

}